<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agile Actors IWG - Admin</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav role="navigation" class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">IWG Agile Actors</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/admin/games">Edit Games</a></li>
            <li><a href="/admin/notifications">Send Notifications</a></li>
            <li><a href="/admin/history">User history</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/home"><span class="glyphicon glyphicon-user"></span>  <span th:utext="${user.username}"></a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3 style="color: cornsilk" class="form-signin-heading">History for user '<span th:utext="${userHistory.username}"></span>'</h3>
    <table class="table white-bg">
        <thead>
            <tr>
                <th class="text-left">Date</th>
                <th class="text-left">Event type</th>
                <th class="text-left">Event information</th>
            </tr>
        </thead>
        <tr th:each="event : ${events}">
            <td class="text-left" th:text="${event.dateCreated}"></td>
            <td class="text-left" th:text="${event.type}"></td>
            <td class="text-left" th:text="${event.information}"></td>
        </tr>
    </table>
</div>
</body>
</html>